:root {
  /** colors */
  --color-name: custom;
  --color-bg-shade: #000000;
  --color-bg-base: #000000;
  --color-bg-surface: #000000;
  --color-bg-highlight: #000000;
  --color-fg-shade: #CCCCCC;
  --color-fg-base: #FFFFFF;
  --color-fg-surface: #FFFFFF;
  --color-fg-highlight: #FFFFFF;
  --color-primary-bg: #3B3B3B;
  --color-primary-base: #777777;
  --color-primary-fg: #B3B3B3;
  --color-secondary-bg: #800000;
  --color-secondary-base: #FF0000;
  --color-secondary-fg: #FF8080;
  --color-palette-red: #E06C75;
  --color-palette-green: #98C379;
  --color-palette-yellow: #E5C07B;
  --color-palette-blue: #61AFEF;
  --color-palette-purple: #C678DD;
  --color-palette-cyan: #56B6C2;
  --color-palette-orange: #FFBB7C;
  
  /** general */
  --font-family: Quicksand;
  --display-image: none;

  /** surface */
  --surface-maxWidth: 1080px;
  --surface-shadow: 0px 0px 0px rgb(59, 59, 59), 0px 0px 0px rgb(76.25, 44.25, 44.25), 0px 0px 0px rgb(93.5, 29.5, 29.5), 0px 0px 0px rgb(110.75, 14.75, 14.75), 0px 0px 0px rgb(128, 0, 0);
  --surface-borderRadius: 20px;

  /** spacing */
  --space-smallest: 0.125rem;
  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 1.5rem;
  --space-largest: 3rem;

  /** others */
  --picture-size: 300px;
  --group-count: 6;
}
